
body {
        font-size: larger;
        background-color: paleturquoise;
    }
    header{
    	text-align: center;
    }
    footer {
    	margin-top: 15%;
        background: turquoise;
        text-align: center;
        height: 60px;

    }
    nav{
        float: right;
    }
.status
{
margin-left: 27%;

}
   .status input{
    	width: 	450px;
    	height: 	60px;
    }
    .submit input{
    	width: 75px;
    	height: 25px;
    	margin-left: 45%;

    	
    }
    
    .photo {
        float: left;

    }
    .video {
        float: right;
    }